// Navigation Styles here

.navbar {
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding-bottom: 25px;
    justify-content: space-between;
    border-bottom: 2px dashed @silver;
   
}

.nav {
    display: flex;
    justify-content: space-around;
   
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding: 5%;
    margin-right: 50px;
    
   
}

